@import "tailwindcss";

@theme{
    --color-primary: #b96ed6;
    --color-primary-light: #c4fecd;
    --color-primary-dark: #b96ed6;
}

.social-button{
    @apply p-2 size-12 sm:size-16 flex items-center justify-center rounded-full hover:scale-110 transition-transform;
}